@import 'administrate/library/variables';
@import 'administrate/library/clearfix';

.field-unit--nested-has-many {
  .nested-fields {
    @include administrate-clearfix;
    padding-bottom: $base-spacing;
    margin-bottom: $base-spacing;
  }

  .remove_fields, .add_fields {
      float: right;
  }
} 